body {
	width: 650px;
	margin: 35px auto;
	
	font: 100 normal normal 1em/1.5em "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 { font-weight: 100; }
p { font-size:;}
.light { color: rgb(170, 170, 170); }

div.graph {
	width: 600px;
	margin: 20px auto;
	padding: 25px;
}

div.graph:nth-child(odd) {
	background-color: rgb(250, 250, 250);
	border-radius: 10px;
}
